spring:
  application:
    name: mhcp-orchestrator

  profiles:
    active: dev

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 2
    locations: classpath:db/migration
    validate-on-migrate: false

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


